:root {
    /* colors */
    --bg-color: rgba(69,168,95,0.75);
    --primary-font-color: #fff;
    --secondary-font-color: #000;

    /* fonts */
    --logo-font: 'Fredoka One', cursive;
    --primary-font: 'Roboto', sans-serif;
}

*, 
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--primary-font);
}

/* nav menu */

header {
    background: var(--bg-color);
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 10;
}

header .logo {
    font-family: var(--logo-font);
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--bg-color);
    width: 100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--primary-font-color);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--secondary-font-color);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label,
.nav-toggle-label-close-45,
.nav-toggle-label-close-neg45 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after,
.nav-toggle-label-close-45 span,
.nav-toggle-label-close-neg45 span {
    display: block;
    background: #fff;
    height: 4px;
    width: 2em;
    border-radius: 4px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label-close-45 span,
.nav-toggle-label-close-neg45 span {
    transform: rotate(0deg);
    transition: transform 250ms ease-in-out;
}

.nav-toggle-label span {
    opacity: 1;
    transition: opacity 350ms ease-in-out;
}

.nav-toggle-label span::before {
    transform: translateY(-9px);
    transition: transform 250ms ease-in-out 250ms;
}

.nav-toggle-label span::after {
    transform: translateY(9px);
    transition: transform 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked ~ .nav-toggle-label span {
    opacity: 0;
    transition: opacity 250ms ease-in-out 270ms;
}

.nav-toggle:checked ~ .nav-toggle-label span::before {
    transform: translateY(0px);
    transition: transform 250ms ease-in-out;
}

.nav-toggle:checked ~ .nav-toggle-label span::after {
    transform: translateY(0px);
    transition: transform 250ms ease-in-out;
}

.nav-toggle:checked ~ .nav-toggle-label-close-45 span{
    transform: rotate(45deg);
    transition: transform 250ms ease-in-out 280ms;
}

.nav-toggle:checked ~ .nav-toggle-label-close-neg45 span {
    transform: rotate(-45deg);
    transition: transform 250ms ease-in-out 280ms;
}