:root {
    /* colors */
    --bg-color: rgba(69, 168, 95, 0.90);
    --bg-secondary-color: #ffffff;
    --primary-font-color: #fff;
    --secondary-font-color: #000;
    --section-title-color: rgba(69, 168, 95, 0.85);
    --back-to-top-color: rgba(255, 43, 68, 0.70);
    --hamburger-icon-color: #fff;
    --hamburger-icon-close-color: #fff;
    --package-1-card-color: rgb(44, 124, 145);
    --package-2-card-color: rgb(53, 158, 40);
    --package-3-card-color: rgb(167, 41, 41);
    --package-n-card-color: rgb(226, 146, 27);

    /* fonts */
    --logo-font: 'Teko', sans-serif;
    --primary-font: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* hide arrows in number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body {
    margin: 0;
    font-family: var(--primary-font);
    background-color: var(--bg-secondary-color);
    color: var(--secondary-font-color);
}

h2 {
    color: var(--section-title-color);
}

/* nav menu */

header {
    background: var(--bg-color);
    text-align: center;
    width: 100%;
    height: 80px;
    z-index: 10;
    top: 0;
}

header .logo {
    font-family: var(--logo-font);
    color: #fff;
    margin: 0;
    padding-top: 16px;
}

nav {
    text-align: left;
    top: 0;
    left: 0;
    padding-bottom: 5px;
    background: var(--bg-color);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--primary-font-color);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--secondary-font-color);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label,
.nav-toggle-label-close-45,
.nav-toggle-label-close-neg45 {
    position: absolute;
    top: 2em;
    left: -5px;
    margin-left: 1em;
    height: 3%;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after,
.nav-toggle-label-close-45 span,
.nav-toggle-label-close-neg45 span {
    display: block;
    height: 4px;
    width: 2em;
    border-radius: 4px;
    position: relative;
    background-color: var(--hamburger-icon-color);
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label-close-45 span,
.nav-toggle-label-close-neg45 span {
    transform: rotate(0deg);
    transition: transform 250ms ease-in-out;
}

.nav-toggle-label span {
    opacity: 1;
    transition: opacity 350ms ease-in-out;
}

.nav-toggle-label span::before {
    transform: translateY(-9px);
    transition: transform 250ms ease-in-out 250ms;
}

.nav-toggle-label span::after {
    transform: translateY(9px);
    transition: transform 250ms ease-in-out 250ms;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked~.nav-toggle-label span {
    opacity: 0;
    transition: opacity 250ms ease-in-out 270ms;
}

.nav-toggle:checked~.nav-toggle-label span::before {
    transform: translateY(0px);
    transition: transform 250ms ease-in-out;
}

.nav-toggle:checked~.nav-toggle-label span::after {
    transform: translateY(0px);
    transition: transform 250ms ease-in-out;
}

.nav-toggle:checked~.nav-toggle-label-close-45 span {
    background-color: var(--hamburger-icon-close-color);
    transform: rotate(45deg);
    transition: transform 250ms ease-in-out 280ms;
}

.nav-toggle:checked~.nav-toggle-label-close-neg45 span {
    transform: rotate(-45deg);
    transition: transform 250ms ease-in-out 280ms;
}

.nav-toggle:checked~.nav-toggle-label-close-45 span,
.nav-toggle:checked~.nav-toggle-label-close-neg45 span {
    background-color: var(--hamburger-icon-close-color);
}

/* Home Page */

#home {
    min-height: 100vh;
}

#home figure {
    margin: 0;
}

#home .home-banner {
    width: 100%;
    height: auto;
}

#home article {
    border-left: 5px solid var(--bg-color);
    margin-left: 15px;
    margin-top: 50px;
    padding: 0 25px;
}

#home .learn-more-container {
    width: 100%;
    display: flex;
    margin-top: 4.5em;
}

#home .learn-more-button {
    text-decoration: none;
    background-color: var(--bg-color);
    margin: auto;
    border: 2px solid var(--section-title-color);
    color: var(--primary-font-color);
    padding: 1em 6.5em;
    border-radius: 10px;
}

#home .learn-more-button:active {
    background-color: var(--bg-secondary-color);
    color: var(--primary-font-color);
}

/* sections */
main section {
    min-height: 100vh;
}

main section article {
    padding: 25px;
}

main section .article-heading {
    color: var(--section-title-color);
}


.section-heading {
    color: var(--primary-font-color);
    background-color: var(--bg-color);
    text-align: center;
    padding: 1em 0em;
}

/* Over mij */
#overmij .article-heading {
    text-align: center;
}

#overmij img {
    height: auto;
    width: 100%;
}

#overmij iframe {
    height: 200px;
}

/* Clinics */

#clinics .package-card {
    color: var(--primary-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    margin: 15px;
    border-radius: 5px;
}

#clinics .package-card ul {
    list-style: square;
}

#clinics .package-card ul li {
    line-height: 25px;
}

#clinics .package-features {
    padding: 0;
}

#clinics .package-heading {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#clinics .package-card .prices {
    background-color: var(--bg-secondary-color);
    color: #000;
    width: 130px;
    height: 130px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clinics .package-card .package-price {
    font-size: 3em;
}

#clinics .package-card .package-extra-info {
    font-size: .75em;
}

#clinics .package-card .package-1-addition {
    color: #fff;
    background-color: var(--package-1-card-color);
    width: 100%;
    padding: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#clinics .package-1-addition-extra {
    font-size: 0.75em;
    position: absolute;
    left: 10px;
}

#clinics .package-1-addition-basis {
    font-size: 1.25em;
    font-weight: bold;
}



#clinics .package-1 {
    background-color: var(--package-1-card-color);
}

.package-1 .package-price {
    color: var(--package-1-card-color);
}

#clinics .package-2 {
    background-color: var(--package-2-card-color);
}

.package-2 .package-price {
    color: var(--package-2-card-color);
}

#clinics .package-3 {
    background-color: var(--package-3-card-color);
}

.package-3 .package-price {
    color: var(--package-3-card-color);
}

#clinics .package-n {
    background-color: var(--package-n-card-color);
}

.package-n .package-price {
    color: var(--package-n-card-color);
}

.package-n p {
    text-align: justify;
}

#clinics .beat-the-pro {
    font-size: 1.4em;
    font-weight: bold;
    color: silver;
    text-shadow: 0 0 10px #FFF, 0 0 30px #49FF18, 5px 6px 1px rgba(212, 175, 55, 0);
}

#clinics .btp-popup {
    position: fixed;
    background: #fff;
    top: 20%;
    margin: auto;
    right: 15%;
    left: 15%;
    text-align: center;
    padding: 30px;
    padding-top: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.29);
    border: 1px solid rgb(148, 148, 148);
    transform: scale(0);
    transition: transform 50ms ease-in-out;
}

#clinics .btp-tooltip:active {
    color: rgb(187, 57, 57);
}

#clinics .close-btp-popup {
    color: rgb(187, 57, 57);
}

#clinics .close-btp-popup:active {
    color: #eee;
}

#clinics .popup-btp-heading {
    color: var(--bg-color);
}

#clinics .popup-btp-text {
    color: var(--bg-color);
}

#clinics .euro-symbol {
    font-size: .5em;
    vertical-align: super;
}

#clinics .buy-package-button {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-font-color);
    background-color: rgb(255, 94, 0);
    border-radius: 10px;
    padding: 15px;
}

/* Verhuur */

#verhuur .tnl-brands {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#verhuur .tnl-brands-images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#verhuur .tnl-brands figure {
    margin: 0;
    width: 30%;
}

#verhuur .tnl-brands figure img {
    height: auto;
    width: 80%;
    margin: 10px auto;
}

#verhuur .tnl-external-link {
    text-align: center;
    margin-top: 50px;
}

#verhuur a {
    text-decoration: none;
    background-color: rgb(27, 27, 27);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
}

/* Referenties */

#referenties .ref-img img {
    height: auto;
    width: 50%;
    margin: 20px auto;
}

#referenties figure {
    text-align: center;
    margin: 0;
}


/* Contact */
#contact {
    background: var(--bg-color);
    color: var(--primary-font-color);
    padding-bottom: 1.5em;
}

#contact form {
    padding: 0 10%;
}

#contact input,
#contact textarea {
    width: 100%;
    border: none;
    border-radius: 0.5em;
}

#contact input {
    height: 2em;
    font-size: 1.5em;
    margin: 5px auto;
    padding-left: 5px;
}

#contact textarea {
    resize: vertical;
    padding-left: 5px;
    padding-top: 5px;
    font-size: 1.25em;
}

#contact input[type='submit'] {
    color: var(--primary-font-color);
    background-color: var(--bg-color);
    border: 1px solid var(--bg-secondary-color);
    margin-top: 1.5em;
}

#contact .socials {
    text-align: center;
}

#contact .socials a {
    color: var(--primary-font-color);
    padding: 0 0.5em;
}

#contact .contact-info {
    padding: 1em 20%;
}

#contact .contact-info a {
    color: rgb(255, 255, 255);
    /*later will be used as dark color for contrast*/
    padding-left: 1em;
    margin-top: 0.5em;
}

#contact .map {
    text-align: center;
}

#contact iframe {
    height: auto;
    width: 80%;
}

.contact-form-seperator {
    margin-top: 2em;
    width: 80%;
    border: 2px solid;
}

/* back to top button */

.back-to-top {
    position: fixed;
    bottom: -7px;
    right: 0.5em;
    z-index: 99;
}

.back-to-top a {
    text-decoration: none;
    color: var(--back-to-top-color);
    cursor: pointer;
}

/* footer */

footer {
    background-color: rgb(6, 49, 25);
    color: var(--primary-font-color);
    padding: 1.5em;
    padding-bottom: 0;
    text-align: center;
}

footer .other-links a{
    color: #fff;
    font-size: 0.75em;
}

/* Cookies Banner */

.cookies-banner {
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 10;
    padding: 10px 4px;
    text-align: center;
    color: #fff;
    transition: transform 100ms ease-in-out;
}

.cookies-banner-text,
.cookies-info-link {
    display: inline;
}

.cookies-info-link a {
    color: var(--bg-color);
    text-decoration: underline;
}

.cookies-accept-button {
    background-color: rgb(211, 155, 12);
    padding: 5px;
    border: none;
}

/* Under construction page */
.under-construction {
    display: none;
}

/* FOR TABLETS */
@media (min-width: 600px) {

    main,
    header,
    #home {
        display: none;
    }

    .under-construction {
        display: block !important;
        height: 100vh;
        background-color: rgb(28, 116, 51);
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .under-construction p {
        font-size: 2em;
    }

    .under-construction h1 {
        padding-top: 300px;
    }

    .under-construction a {
        color: #fff;
    }

}