:root {
    /* colors */
    --bg-color: rgba(69, 168, 95, 0.90);
    --bg-secondary-color: #ffffff;
    --primary-font-color: #fff;
    --secondary-font-color: #000;
    --section-title-color: rgba(69, 168, 95, 0.85);
    --back-to-top-color: rgba(255, 43, 68, 0.70);
    --hamburger-icon-color: #fff;
    --hamburger-icon-close-color: #fff;
    --package-1-card-color: rgb(22, 135, 163);
    --package-2-card-color: rgb(33, 160, 16);
    --package-3-card-color: rgb(161, 28, 28);

    /* fonts */
    --logo-font: 'Teko', sans-serif;
    --primary-font: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* hide arrows in number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

body {
    margin: 0;
    font-family: var(--primary-font);
    background-color: var(--bg-secondary-color);
    color: var(--secondary-font-color);
}

h2 {
    color: var(--section-title-color);
}

/* nav menu */

header {
    background: var(--bg-color);
    text-align: center;
    width: 100%;
    height: 80px;
    z-index: 10;
    top: 0;
}

header .logo {
    font-family: var(--logo-font);
    color: #fff;
    margin: 0;
    padding-top: 16px;
}

nav {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    background: var(--bg-color);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color: var(--primary-font-color);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: var(--secondary-font-color);
}

.nav-toggle {
    display: none;
}

.nav-toggle-label,
.nav-toggle-label-close-45,
.nav-toggle-label-close-neg45 {
    position: absolute;
    top: 2em;
    left: -5px;
    margin-left: 1em;
    height: 3%;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after,
.nav-toggle-label-close-45 span,
.nav-toggle-label-close-neg45 span {
    display: block;
    height: 4px;
    width: 2em;
    border-radius: 4px;
    position: relative;
    background-color: var(--hamburger-icon-color);
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label-close-45 span,
.nav-toggle-label-close-neg45 span {
    transform: rotate(0deg);
    transition: transform 250ms ease-in-out;
}

.nav-toggle-label span {
    opacity: 1;
    transition: opacity 350ms ease-in-out;
}

.nav-toggle-label span::before {
    transform: translateY(-9px);
    transition: transform 250ms ease-in-out 250ms;
}

.nav-toggle-label span::after {
    transform: translateY(9px);
    transition: transform 250ms ease-in-out 250ms;
}

.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle:checked~.nav-toggle-label span {
    opacity: 0;
    transition: opacity 250ms ease-in-out 270ms;
}

.nav-toggle:checked~.nav-toggle-label span::before {
    transform: translateY(0px);
    transition: transform 250ms ease-in-out;
}

.nav-toggle:checked~.nav-toggle-label span::after {
    transform: translateY(0px);
    transition: transform 250ms ease-in-out;
}

.nav-toggle:checked~.nav-toggle-label-close-45 span {
    background-color: var(--hamburger-icon-close-color);
    transform: rotate(45deg);
    transition: transform 250ms ease-in-out 280ms;
}

.nav-toggle:checked~.nav-toggle-label-close-neg45 span {
    transform: rotate(-45deg);
    transition: transform 250ms ease-in-out 280ms;
}

.nav-toggle:checked~.nav-toggle-label-close-45 span,
.nav-toggle:checked~.nav-toggle-label-close-neg45 span {
    background-color: var(--hamburger-icon-close-color);
}

/* Home Page */

#home {
    min-height: 100vh;
}

#home figure {
    margin: 0;
}

#home .home-banner {
    width: 100%;
    height: auto;
}

#home article {
    border-left: 5px solid var(--bg-color);
    margin-left: 15px;
    margin-top: 50px;
    padding: 0 25px;
}

#home .learn-more-container {
    width: 100%;
    display: flex;
    margin-top: 4.5em;
}

#home .learn-more-button {
    text-decoration: none;
    background-color: var(--bg-color);
    margin: auto;
    border: 2px solid var(--section-title-color);
    color: var(--primary-font-color);
    padding: 1em 6.5em;
    border-radius: 10px;
}

#home .learn-more-button:active {
    background-color: var(--bg-secondary-color);
    color: var(--primary-font-color);
}

/* sections */
main section {
    min-height: 100vh;
}

main section article {
    padding: 25px;
}

main section .article-heading {
    color: var(--section-title-color);
}


.section-heading {
    color: var(--primary-font-color);
    background-color: var(--bg-color);
    text-align: center;
    padding: 1em 0em;
}

/* Clinics */

#clinics .package-card {
    color: var(--primary-font-color);
    text-align: center;
    margin: 10px 40px;
    padding: 40px 0;
    padding-top: 0px;
    min-height: 320px;
}

#clinics .package-card ul {
    list-style: none;
    text-align: left;
    padding-left: 70px;
}

#clinics .package-card ul li {
    margin: 5px 0;
}

#clinics .package-card h3 {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 10px;
}

#clinics .package-card .prices {
    background-color: var(--bg-secondary-color);
    color: #000;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 100px;
    padding: 32px 5px;
}

#clinics .package-card .package-price {
    font-size: 3em;
}

#clinics .package-1 {
    background-color: var(--package-1-card-color);
}

.package-1 .package-price {
    color: var(--package-1-card-color);
}

#clinics .package-2 {
    background-color: var(--package-2-card-color);
}

.package-2 .package-price {
    color: var(--package-2-card-color);
}

#clinics .package-3 {
    background-color: var(--package-3-card-color);
}

.package-3 .package-price {
    color: var(--package-3-card-color);
}

/* Referenties */

#referenties .ref-img img {
    width: 90%;
    height: auto;
}

#referenties .ref-img img {
    padding: 50px 0;
}

#referenties {
    height: auto;
}

/* Contact */
#contact {
    background: var(--bg-color);
    color: var(--primary-font-color);
    padding-bottom: 1.5em;
}

#contact form {
    padding: 0 10%;
}

#contact input,
#contact textarea {
    width: 100%;
    border: none;
    border-radius: 0.5em;
}

#contact input {
    height: 2em;
    font-size: 1.5em;
    margin: 5px auto;
}

#contact textarea {
    resize: vertical;
}

#contact input[type='submit'] {
    color: var(--primary-font-color);
    background-color: var(--bg-color);
    border: 1px solid var(--bg-secondary-color);
    margin-top: 1.5em;
}

#contact .socials{
    text-align: center;
}

#contact .socials a {
    color: var(--primary-font-color);
    padding: 0 0.5em;
}

#contact .contact-info {
    padding: 1em 20%;
}

#contact .contact-info a {
    color: rgb(255, 255, 255); /*later will be used as dark color for contrast*/
    padding-left: 1em;
    margin-top: 0.5em;
}

.contact-form-seperator {
    margin-top: 2em;
    width: 80%;
    border: 2px solid;
}

/* back to top button */

.back-to-top {
    position: fixed;
    bottom: -7px;
    right: 0.5em;
    z-index: 99;
}

.back-to-top a {
    text-decoration: none;
    color: var(--back-to-top-color);
    cursor: pointer;
}

/* footer */

footer {
    background-color: rgb(6, 49, 25);
    color: var(--primary-font-color);
    padding: 1.5em;
    text-align: center;
}