// Main

main {
    section {
        min-height: 100vh;

        .section-heading {
            color: $fontColor;
            background-color: $primaryColor;
            text-align: center;
            padding: 1em 0;
        }

        article {
            padding: 25px;

            .article-heading {
                color: $primaryColor;
            }
        }
    }
}

@import "./overmij";
@import "./clinics";
@import "./verhuur";
@import "./referenties";
@import "./contact";