// Variables

// Colors
$primaryColor: rgb(57, 150, 82);
$secondaryColor: rgb(51, 51, 51);

$whiteColor: rgb(255, 255, 255);

$fontColor: rgb(255, 255, 255);
$fontColor2: rgb(0, 0, 0);

$basisColor: rgb(44, 124, 145);
$uitgebriedColor: rgb(53, 158, 40);
$toernooiColor: rgb(167, 41, 41);
$extraCardColor: rgb(71, 32, 87);

// Fonts
$logoFont: 'Teko',
sans-serif;
$primaryFont: 'Roboto',
sans-serif;

// Breakpoints

$breakpoint-largeScreens: 720px;