// Variables

// Colors
$primaryColor: rgb(57, 150, 82);
$secondaryColor: rgb(51, 51, 51);

$whiteColor: rgb(255, 255, 255);

$fontColor: rgb(255, 255, 255);
$fontColor2: rgb(0, 0, 0);

$basisColor: rgb(44, 124, 145);
$uitgebriedColor: rgb(53, 158, 40);
$toernooiColor: rgb(167, 41, 41);
$extraCardColor: rgb(71, 32, 87);

// Fonts
$logoFont: 'Teko',
sans-serif;
$primaryFont: 'Roboto',
sans-serif;

// reset css

*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}


body {
    margin: 0;
    font-family: $primaryFont;
    background-color: $whiteColor;
    color: $fontColor2;
}

// hide arrows in number input field
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number] {
    -moz-appearance: textfield;
}

@import "./header";
@import "./home";
@import "./mainSection";
@import "./footer";