
@import "./variables";
@import "./header";
@import "./home";
@import "./mainSection";
@import "./footer";

// reset css
*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    font-family: $primaryFont;
    background-color: $whiteColor;
    color: $fontColor2;
}


// hide arrows in number input field
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}


// Back to top button

.back-to-top {
    position: fixed;
    bottom: -7px;
    right: 0.5em;
    z-index: 99;

    a {
        text-decoration: none;
        color: rgba(255, 43, 68, 0.70);
    }
}

// Cookie banner
.cookies-banner {
    position: fixed;
    bottom: 0;
    background-color: $secondaryColor;
    z-index: 10;
    padding: 10px 4px;
    text-align: center;
    color: #fff;
    transition: transform 100ms ease-in-out;

    .cookies-banner-text,
    .cookies-info-link {
        display: inline;
    }

    .cookies-info-link {
        a {
            color: $primaryColor;
        }
    }

    .cookies-accept-button {
        background-color: rgb(211, 155, 12);
        padding: 5px;
        border: none;
        border-radius: 5px;
    }
}